@charset "UTF-8";

@font-face{
    font-family: 'Inter Regular';
    src: url(fontes/Inter-Regular.ttf) format('truetype');}
@font-face{
    font-family: 'Inter Semi Bold';
    src: url(fontes/Inter-SemiBold.ttf) format('truetype');}
@font-face{
    font-family: 'Inter Bold';
    src: url(fontes/Inter-Bold.ttf) format('truetype');}

*{
    padding: 0;
    margin: 0;
    
}

header{
    background-color: #DB3A34;
    box-shadow: 0px 3px 10px;
    width: 100%;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h1{
    color: white;
    font-family: 'Inter Regular';
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 15px;
}

.nav-item a{
    font-family: 'Inter Regular';
    color: white;
    text-decoration: none;
}

.nav-link{
    text-decoration: none;
    font-size: 1.5rem;
    color:white;
}

.sacola button{
    background-color: transparent;
    border: none;
}

.sacola:hover{
    background-color: #780000;
    border-radius: 15%;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

@media screen and (max-width: 730px){
    .nav-bar{
        padding: 1.5rem 4rem;
    }

    .nav-item{
        display: none;
    }

    .sacola{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button{
        width: 50px;
        background-color: transparent; 
        border: none; 
        cursor: pointer;
    }

    .mobile-menu{
        background-color: #495057;
    }

    .mobile-menu li{
        border-bottom: 1px solid white;
        padding: 15px;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .sacola{
        display: block;
        padding: 1rem 2rem;
        text-align: center;
    }

    .mobile-menu .sacola:hover{
        background-color: #6c757d;
        border-radius: 0;
    }

    .open{
        display: block;
    }

    .img1{
        width: 50%;
        margin-left: 100%;
    }

}

.frame01{
    background-color: #FAF9F9;
}

.frame01 h1{
    font-family: 'Inter Semi Bold';
    font-size: 6.4vw;

    position: absolute;
    margin-left: 26%;
    margin-top: 13%;
}

.frame01 h2{
    font-family: 'Inter Semi Bold';
    font-size: 6.4vw;

    position: absolute;
    margin-left: 26%;
    margin-top: 20%;
}

.frame01 button{
    background-color: #E7D7C1;
    border: none;
    border-radius: 12px;

    width: 33%;
    margin-left: 6%;
    margin-bottom: 5%;
}

.frame01 p{
    padding: 8px;
    font-size: 3.8vw;
    font-family: 'Inter Semi Bold';
    color: #2196F3;
}

.frame02{
    background-color: #E3F2FD;
}

.frame02 h1{
    font-family: 'Inter Semi Bold';
    font-size: 6.4vw;
    color: #0D47A1;
    
    padding-top: 2%;
    text-align: center;
}

.frame02 p{
    text-align: center;
    font-size: 3.8vw;
    font-family: 'Inter Semi Bold';
    color: #2196F3;
}

.frame03{
    background-color: #FDFFFC;
}

.frame03 img{
    width: 55%;
    margin-left: 45%;
}